.div-flex-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-form-admin {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 300px;
}

.input-form-admin:hover {
    box-shadow: 3px 3px 3px rgb(70, 70, 255);
    transition: 0.5s;
}

#btn-sub-admin {
    float: right;
    background-color: rgb(39, 218, 39);
    padding: 5px;
    width: 100px;
    border-radius: 5px;
}

.img-admini {
    width: 800px;
    height: 500px;
    object-fit: cover;
}

.div-img-admini {
    text-align: center;
}


/*Responsive Form connexion Admin*/

@media(max-width:600px) {
    .h2-admin {
        text-align: center;
    }
    .img-admini {
        width: 400px;
        height: 200px;
    }
    .div-img-admini {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
    }
}